<div class="outer-container">
  <div class="inner-container">
    <div class="profile">
      <div class="main-profile">
        <p class="m__profile">Profile</p>
        <p class="m__content">Some info may be visible to other people</p>
      </div>
      <button class="btn">Edit</button>
    </div>

    <div class="grid">
      <div class="d1">photo</div>
      <div class="d2 photo">
        <img src="images/devchallenges.png" alt="" />
      </div>
      <div class="d1">name</div>
      <div class="d2 name">VamshiKrishna</div>
      <div class="d1">bio</div>
      <div class="d2 bio">Its a small info about me</div>
      <div class="d1">phone</div>
      <div class="d2 phone">789823263712</div>
      <div class="d1">email</div>
      <div class="d2 email">emailismail@gmail.com</div>
      <div class="d1">passowrd</div>
      <div class="d2 password">**********</div>
    </div>
    <div class="end-creds">
      <p>created by @vamshikrishna24</p>
      <p>devChallenges.io</p>
    </div>
  </div>
</div>
